body {
background-color: rgb(218, 198, 255);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
.type{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
  typing 3s steps(23,end) infinite;
}
@keyframes typing{
  from { width: 0}
  80%, 70% {width: 40%}
}

.cube:hover{
  animation-play-state: paused ;
  cursor: pointer ;
}